

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "mulish", sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: slateblue;
    display: flex;
    align-items: center;
    
    
}
.counter-container{
    padding: 20px;
    text-align: center;
}
.counter{
    font-size: 30px;
    padding: 10px;
    color: white;
}
i{
    font-size: 70px;
    color: white;
}
span{
    font-size: 30px;
    color: white;
}